<%= render "shared/second-header" %>
<div class="items-sell-contents">
  <div class="items-sell-main">
    <h2 class="items-sell-title">寄付先の情報を入力</h2>
    <%= form_with model: @sc_group, local: true do |f| %>

    <%= render 'shared/error_messages', model: f.object %>

    <%# 寄付先画像 %>
    <div class="img-upload">
      <div class="weight-bold-text">
        寄付先画像
        <span class="indispensable">必須</span>
      </div>
      <div class="click-upload">
        <p>
          クリックしてファイルをアップロード
        </p>
        <%= f.file_field :image, id:"item-image" %>
      </div>
    </div>
    <%# /寄付先画像 %>
    <%# 寄付先名と寄付先説明 %>
    <div class="new-items">
      <div class="weight-bold-text">
        寄付先名
        <span class="indispensable">必須</span>
      </div>
      <%= f.text_area :name, class:"items-text", id:"item-name", placeholder:"寄付先名（必須 40文字まで)", maxlength:"40" %>
      <div class="items-explain">
        <div class="weight-bold-text">
          寄付先の説明
          <span class="indispensable">必須</span>
        </div>
        <%= f.text_area :introduction, class:"items-text", id:"item-info", placeholder:"寄付先の説明（必須 1,000文字まで）: 1日4000人。※これは、世界中で、ワクチンが無いために、予防可能な感染症で命を落とす子どもの数。認定NPO法人「世界の子どもにワクチンを 日本委員会(JCV)」は、このような子どもたちが数多くいる途上国で、1人でも多くの子どもが病気に負けず、夢と希望を持ち、笑顔で毎日を過ごせるよう、皆さんの心のこもった募金をワクチンに換え、現実に接種されるように届けています。" ,rows:"7" ,maxlength:"1000" %>
      </div>
    </div>
    <%# /寄付先名と寄付先説明 %>

    <%# 寄付先の詳細 %>
    <div class="items-explain">
      <div class="weight-bold-text">
        寄付の詳細
        <span class="indispensable">必須</span>
      </div>
      <%= f.text_area :how_donation, class:"items-text2", id:"item-info", placeholder:"寄付の詳細: 〇〇ポイントにつきワクチン１本分の寄付となります。" ,rows:"7" ,maxlength:"1000" %>
    </div>
    <%# /寄付先の詳細 %>

    <%# 下部ボタン %>
    <div class="sell-btn-contents">
      <%= f.submit "変更する" ,class:"sell-btn" %>
      <%= link_to "削除", sc_group_path(@sc_group.id), method: :delete, data: {confirm: '本当に削除してよろしいですか？'}, class:"item-destroy" %>
      <%=link_to 'もどる', "/show_sc_group/#{@sc_group.id}", class:"back-btn" %>
    </div>
    <%# /下部ボタン %>
    <% end %>
  </div>
</div>
<%= render "shared/second-footer" %>