<%= render "shared/header" %>
<div class="items-donate-contents">
  <div class="items-donate-main">
    <h2 class="items-sell-title">寄付先の選択</h2>

    <% if flash[:alert].present? %>
    <ul class="alert">
      <% flash[:alert].each do |e| %>
        <li><%= e %></li>
      <% end %>
    </ul>
    <% end %>


    <%# 寄付先リスト %>
    <div class='item-donate-contents'>
      <ul class='donate-group-lists'>
        <% @sc_groups.each do |sc_group| %>
          <%= form_with model: @donation_history, url: sc_group_donation_histories_path(sc_group.id), method: :post, class: "donate-form", local: true do |f| %>

          <li class='donate-group-list'>
            <div class="donate-content">
              <div class='item-img-content'>
                <%= image_tag sc_group.image, class: "donate-img" %>
              </div>
              <div class='donate-info'>
                <h3 class='item-name'>
                  <%= sc_group.name %>
                </h3>
                <p class="donate-explanation border">
                  <%= sc_group.introduction %>
                </p>
                <p class="donate-explanation">
                  <%= sc_group.how_donation %>
                </p>
              </div>
              <div class="how-points">
                <%= f.text_area :points, class:"points-text", id:"item-name" %>
                <p class="point-text">
                  pt
                </p>
              <div>
              <div class="donate-btn-contents">
                <%= f.submit "寄付する" ,class:"donate-btn" %>
              </div>
            </div>
          </li>
          <% end %>
        <% end %>
      </ul>
    </div>
  </div>
</div>
<%= render "shared/footer" %>