<header class='top-page-header'>
  <div class="header-top">
    <div class="left-contents">
      <%= link_to image_tag("logo.png", class:"logo-icon"), "/" %>
    </div>
    <div class="right-contents">
      <ul class='lists-right'>
        <li><%= link_to current_admin.name, admins_path, class: "user-nickname" %></li>
        <li><%= link_to 'ログアウト', destroy_admin_session_path, method: :delete, class: "logout" %></li>
        <li><%= link_to "寄付先登録", new_sc_group_path, class: "donate" %></li>
        <li><%= link_to "寄付先編集", "#", class: "donate" %></li>
      </ul>
    </div>
  </div>
</header>