<header class='top-page-header'>
  <div class="header-top">
    <div class="left-contents">
      <%= link_to image_tag("logo.png", class:"logo-icon"), "/" %>
    </div>
    <div class="right-contents">
      <ul class='lists-right'>
        <li><%= link_to current_corporate_user.name, corporate_user_path(current_corporate_user.id), class: "user-nickname" %></li>
        <li><%= link_to 'ログアウト', destroy_corporate_user_session_path, method: :delete, class: "logout" %></li>
        <li><%= link_to "売り上げ確認", "#", class: "donate" %></li>
        <li><%= link_to '出品する', new_product_path, class: "donate" %></li>
        <li><%= link_to '店舗登録情報', " /corporate_users_showinfo/#{current_corporate_user.id}", class: "donate" %></li>
        <li><%= link_to '店舗登録情報編集', edit_corporate_user_path(current_corporate_user.id), class: "donate" %></li>
      </ul>
    </div>
  </div>
</header>