<header class='top-page-header'>
  <div class="header-top">
    <div class="left-contents">
      <%= link_to image_tag("logo.png", class:"logo-icon"), "/" %>
      <ul class='logo-lists'>
        <li><%= link_to "コンセプト", "#", class: "concept" %></li>
      </ul>
    </div>
    <div class="right-contents">
      <ul class='lists-right'>
        <%# deviseを導入できたら、ログインの有無で表示が変わるように分岐しましょう%>
        <% if user_signed_in? %>
          <li><%= link_to current_user.nickname, user_path(current_user.id), class: "user-nickname" %></li>
          <li><%= link_to 'ログアウト', destroy_user_session_path, method: :delete, class: "logout" %></li>
        <% else %>
          <li><%= link_to 'ログイン', new_user_session_path, class: "login" %></li>
          <li><%= link_to '新規登録', new_user_registration_path, class: "sign-up" %></li>
        <% end %>
        <%# //deviseを導入できたら、ログインの有無で表示が変わるように分岐しましょう%>
        <li><%= link_to image_tag("cart.png", class: "cart-icon"), my_cart_path %></li>
        <li><%= link_to '寄付する', donation_histories_path, class: "donate" %></li>
      </ul>
    </div>
  </div>
  <div class="header-bottom">
    <ul class="category-lists">
      <li><%= link_to "社会貢献カテゴリー", "#", class: "category-contents" %>
      <li><%= link_to "品目ごと", "#", class: "category-contents" %>
      <li><%= link_to "価格ごと", "#", class: "category-contents" %>
      <li><%= link_to "店舗ごと", "#", class: "category-contents" %>
  </div>
</header>
<div class="form-key">
  <form class="search-form" action="#">
    <input class='input-box' placeholder='キーワードから探す'>
    <button class="search-button">
      <%= image_tag "search.png", class:"search-icon" %>
    </button>
  </form>
</div>