<%= render "shared/header" %>
<div class='transaction-contents'>
  <div class='transaction-main'>
    <div class="flash">
      <p class="flash-message"><%= flash[:notice] %></p>
    </div>
    <h1 class='transaction-title-text'>
      カート内の商品
    </h1>
    
    <%# 購入内容の表示 eachメソッドにて？ %>
    <% if @cart_items.present? %>
      <% @cart_items.each do |cart_item| %>
        <div class='buy-item-info cart'>
          <%= image_tag cart_item.product.image, class: 'buy-item-img' %>
          <div class='buy-item-right-content cart'>
            <h2 class='buy-item-text'>
              <%= cart_item.product.name %>
            </h2>
            <div class="quantity-contents">
              <p class="quantity-name">数量</p>
              <%= form_with model: cart_item, url: update_item_path, method: :patch , local: true do |f| %>
                <%= f.number_field :quantity, class: "quantity", size: 10, min: 1, id: "quantity_cart" %>
                <%= f.submit "変更", class: "btn btn-info" %>
              <% end %>
              <%= form_with model: cart_item, url: update_item_path, method: :delete , local: true do |f| %>
                <%= f.submit "削除", class: "btn btn-info" %>
              <% end %>
            </div>
            <div class='buy-item-price'>
              <p class='item-price-text cart'>¥<%= cart_item.product.price %>（税込）</p>
              <p class='item-price-sub-text'><%= cart_item.product.charge.name %></p>
            </div>
          </div>
        </div>
      <% end %>
      <%# /購入内容の表示 %>

      <%# 支払額の表示 %>
      <div class='item-payment'>
        <div class="item-payment">
          <h1 class='item-payment-title'>
            支払金額　
          </h1>
          <p class='item-payment-price'>
            ¥<%= "販売価格" %>
          </p>
        </div>
        <div class="item-payment">
          <div class="item-shipping-price">
            内送料　
          </div>
          <p class="item-shipping-price">
            ¥<%= "送料合計" %>
          </p>
        </div>
      </div>
      <%# /支払額の表示 %>
      <%# 購入画面へ進むようにモデル指定、URL指定 %>
      <%= form_with id: 'charge-form', class: 'transaction-form-wrap',local: true do |f| %>
      <div class='buy-btn'>
        <%= f.submit "購入画面へ進む" ,class:"buy-red-btn", id:"button" %>
      </div>
      <div class="sell-btn-contents">
        <%= link_to "カートを空にする", "#", method: :delete, data: {confirm: '本当にカートを空にしてよろしいですか？'}, class:"item-destroy" %>
        <%= link_to '買い物を続ける', products_path, class:"back-btn" %>
      </div>
      <% end %>
    <% else %>
      <%= render "no_product" %>
    <% end %>
    <%# /購入画面へ進むようにモデル指定、URL指定 %>
  </div>
</div>
<%= render "shared/footer" %>