<%= render "shared/header" %>
<div class='transaction-contents'>
  <div class='transaction-main'>
    <h1 class='transaction-title-text'>
      カート内の商品
    </h1>
    <%# 購入内容の表示 eachメソッドにて？ %>
    <div class='buy-item-info'>
      <%= image_tag "sample.jpg", class: 'buy-item-img' %>
      <div class='buy-item-right-content'>
        <h2 class='buy-item-text'>
          <%= "商品名" %>
        </h2>
        <div class='buy-item-price'>
          <p class='item-price-text'>¥<%= '999,999,999' %></p>
          <p class='item-price-sub-text'><%= '送料' %></p>
        </div>
      </div>
    </div>
    <%# /購入内容の表示 %>

    <%# 支払額の表示 %>
    <div class='item-payment'>
      <h1 class='item-payment-title'>
        合計支払金額
      </h1>
      <p class='item-payment-price'>
        ¥<%= "合計価格" %>
      </p>
    </div>
    <%# /支払額の表示 %>
    <%# 購入画面へ進むようにモデル指定、URL指定 %>
    <%= form_with id: 'charge-form', class: 'transaction-form-wrap',local: true do |f| %>
    <div class='buy-btn'>
      <%= f.submit "購入画面へ進む" ,class:"buy-red-btn", id:"button" %>
    </div>
    <% end %>
    <%# /購入画面へ進むようにモデル指定、URL指定 %>
  </div>
</div>
<%= render "shared/footer" %>