<%= render "shared/header" %>
<div class="main-view">
  <%# 画面上部の「人生を変えるフリマアプリ」帯部分 %>
  <div class='title-contents'>
    <h2 class='service-title'>
      いつもの買い物が社会貢献に
    </h2>
  </div>
  <%# 商品一覧 %>
  <div class='item-contents'>
    <div class="subtitle" >
      新着商品
    </div>
    <%= link_to "一覧を見る", recent_products_path, class: "all-items" %>
    <ul class='item-lists'>
      <% @product1.each do |p1| %>
        <li class='list'>
          <%= link_to product_path(p1.id), class: "a" do %>
          <div class='item-img-content'>
            <%= image_tag p1.image, class: "item-img" %>
          </div>
          <div class='item-info'>
            <h3 class='item-name'>
              <%= p1.name %>
            </h3>
            <div class='item-price'>
              <span><%= p1.price %>円<br><%= p1.charge.name %></span>
              <div class="star">
                <div class='star-btn'>
                  <%= image_tag "star.png", class:"star-icon" %>
                </div>
                <div class="star-count">
                  <span>0</span>
                </div>
              </div>
            </div>
          </div>
          <% end %>
        </li>
      <% end %>
    </ul>
  </div>
  <%# /商品一覧 %>
  <%# おすすめ商品一覧 %>
  <div class='item-contents'>
    <div class="subtitle" >
      おすすめ
    </div>
    <%= link_to "一覧を見る", "#", class: "all-items" %>
    <ul class='item-lists'>
      <li class='list'>
        <%= link_to "#", class: "a" do %>
        <div class='item-img-content'>
          <%= image_tag "sample.jpg", class: "item-img" %>
        </div>
        <div class='item-info'>
          <h3 class='item-name'>
            <%= "商品名" %>
          </h3>
          <div class='item-price'>
            <span><%= "販売価格" %>円<br><%= '送料' %></span>
            <div class="star">
              <div class='star-btn'>
                <%= image_tag "star.png", class:"star-icon" %>
              </div>
              <div class="star-count">
                <span>0</span>
              </div>
            </div>
          </div>
        </div>
        <% end %>
      </li>
    </ul>
  </div>
  <%# /おすすめ商品一覧 %>
  <%# 人気商品一覧 %>
  <div class='item-contents'>
    <div class="subtitle" >
      人気ランキング
    </div>
    <%= link_to "一覧を見る", popular_products_path, class: "all-items" %>
    <ul class='item-lists last'>
      <% @product2.each do |p2| %>
        <li class='list'>
          <%= link_to product_path(p2.id), class: "a" do %>
          <div class='item-img-content'>
            <%= image_tag p2.image, class: "item-img" %>
          </div>
          <div class='item-info'>
            <h3 class='item-name'>
              <%= p2.name %>
            </h3>
            <div class='item-price'>
              <span><%= p2.price %>円<br><%= p2.charge.name %></span>
              <div class="star">
                <div class='star-btn'>
                  <%= image_tag "star.png", class:"star-icon" %>
                </div>
                <div class="star-count">
                  <span>0</span>
                </div>
              </div>
            </div>
          </div>
          <% end %>
        </li>
      <% end %>
    </ul>
  </div>
  <%# /人気商品一覧 %>
</div>
<%= render "shared/footer" %>